.clear-both{
  clear: both;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  right: 0;
  top: 0;
}

/*.header:hover{*/
  /*background-color: red;*/
/*}*/

.header {
  padding-bottom: 0;
  border-bottom: .05rem solid #e5e5e5;
}
.header h4 {
  margin-top: .1rem;
  margin-bottom: 0;
  line-height: 2rem;
  margin-right: 4rem;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  text-align: center;
}

@media (min-width: 60em) {
  .container {
    max-width: 60rem;
  }
}
div.top-nav-profile{
  position: relative;
}

div.top-nav-profile a:hover{
  text-decoration: none;
}

div.top-nav-profile a{
  color: black;
}

div.top-link-logo{
  min-width: 7rem;
  display: block;
  margin: 1px;
  margin-bottom: 0;
  padding-right: 0.3rem;
}

a.top-link-logo{
  min-width: 7rem;
  display: block;
}

ul.top-nav-drop{
  display: none;
  list-style: none;
  margin: 0;
  padding:0;
}

ul.top-nav-drop li{
  border-bottom:1px solid #ddd;
  /*margin-bottom:-1px;*/
  padding-top: 0.6rem;
  padding-left: 3.2rem;
  height: 2.9rem;
}

ul.top-nav-drop li:last-child{
  border-bottom:none;
}

ul.top-nav-drop li:hover{
  background-color: #fefefe;
}

div.top-nav-profile:hover{
  background-color: #f9f9f9;
}

.avatar{
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.4rem 0.4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

li#li-profile{
  background-image: url("../images/view/person.png");
  background-repeat: no-repeat;
  -webkit-background-size: 1.454rem 1.8rem;
  background-size: 1.454rem 1.8rem;
  background-position: 0.77rem 0.6rem;
}

li#li-medical-record{
  background-image: url(../images/view/profile.png);
  background-repeat: no-repeat;
  -webkit-background-size: 1.8rem 1.286rem;
  background-size: 1.8rem 1.286rem;
  background-position: 0.6rem 0.85rem;
}

li#li-exit{
  background-image: url(../images/view/exit.png);
  background-repeat: no-repeat;
  -webkit-background-size: 1.6rem 1.6rem;
  background-size: 1.6rem 1.6rem;
  background-position: 0.7rem 0.7rem;
}

div.top-nav-profile:hover div.top-link-logo{
  border:1px solid #ddd;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  margin: 0;
  margin-bottom:-1px;
  box-shadow: 0 0 2px #999999;
}

div.top-nav-profile:hover ul.top-nav-drop{
  display: block;
  width: 100%;
  position: absolute;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 2px 2px #999999;
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}

#start-button{
  margin-top: 1rem;
}

.jumbotron h4{
  margin-bottom: 0.7rem;
}

.lead{
  font-size: 0.95rem;
  font-weight: 300;
  margin-bottom: 0;
}

#QA-div{
  text-align: left;
  margin-bottom: 3rem;
  width: 50%;
}

#current-QA, #controller-div, #submit-div{
  text-align: left;
  margin-bottom: 0;
  display:none;
  /*border: 1px solid red;*/
}

#submit-div{
  text-align: center;
  width: 90%;
  /*border: 1px solid red;*/
  margin-left: 0;
}


#previous-button, #next-button{
  width: 40%;
  margin-right: 10%;
  margin-top: 0;
  /*border: 1px solid red;*/
}

#warning-option, #warning-control{
  display: block;
  visibility: hidden;
  color: red;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

h4{
  margin-bottom: 1.5rem;
}

h5{
  text-align: left;
  margin-bottom: 1rem;
  margin-left: -1.7rem;
}

label{
  margin-right: 2rem;
}

input{
  margin-left: 2rem;
}


ul.custom-radio .check{
  border: 5px solid #868e96;
  border-radius: 100%;
  height: 26px;
  width: 26px;
  top: 15px;
}

ul.custom-radio label{
  padding: 15px 15px 15px 50px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
