.clear-both{
  clear: both;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer {
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  right: 0;
  top: 0;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  text-align: center;
}

@media (min-width: 60em) {
  .container {
    max-width: 60rem;
  }
}


.jumbotron {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}

#start-button{
  margin-top: 1rem;
}

.jumbotron h4{
  margin-bottom: 0.7rem;
}

.lead{
  font-size: 0.95rem;
  font-weight: 300;
  margin-bottom: 0;
}

#QA-div{
  text-align: left;
  margin-bottom: 3rem;
  width: 50%;
}

#current-QA, #controller-div, #submit-div{
  text-align: left;
  margin-bottom: 0;
  display:none;
  /*border: 1px solid red;*/
}

#submit-div{
  text-align: center;
  width: 90%;
  /*border: 1px solid red;*/
  margin-left: 0;
}


#previous-button, #next-button{
  width: 40%;
  margin-right: 10%;
  margin-top: 0;
  /*border: 1px solid red;*/
}

#warning-option, #warning-control{
  display: block;
  visibility: hidden;
  color: red;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

h4{
  margin-bottom: 1.5rem;
}

h5{
  text-align: left;
  margin-bottom: 1rem;
  margin-left: -1.7rem;
}

label{
  margin-right: 2rem;
}

input{
  margin-left: 2rem;
}


ul.custom-radio .check{
  border: 5px solid #868e96;
  border-radius: 100%;
  height: 26px;
  width: 26px;
  top: 15px;
}

ul.custom-radio label{
  padding: 15px 15px 15px 50px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
