.div-retrieve{
  padding-left: 0;
  padding-right: 0;
}

/*the style for creating user*/
.form-retrieve{
  max-width: 20rem;
  padding: 15px;
  margin: 2rem auto;
  margin-left: 0.2rem;
  display: block;
}

.row{
  margin-bottom: 0.5rem;
}

.col-sm-2{
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  line-height: 1.25;
}
