<div class="header clearfix">
    <h4 class="text-muted float-left"><a href="{:U('index/index')}">AlphaEye</a></h4>
    <nav>
        <ul class="nav nav-pills float-left">
            <li class="nav-item">
                <a class="nav-link" id="index" href="{:U('index/index')}">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="intro" href="{:U('index/introduction')}">介绍</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact" href="{:U('index/contact')}">联系我们</a>
            </li>
        </ul>
    </nav>

    <empty name="name">
        <nav>
            <ul class="nav float-right">
                <li class="login">
                    <a class="btn btn-outline-primary" href="{:U('user/login')}">登录</a>
                </li>
                <li class="register">
                    <a class="btn btn-outline-primary" href="{:U('user/register')}">注册</a>
                </li>
            </ul>
        </nav>
    <else />
        <div class="top-nav-profile float-right">
            <div class="top-link-logo">
                <a href="#" class="top-link-logo">
                    <img src="__PUBLIC__/images/{$avatar}" class="avatar"/>
                    <span class="name">{$name}</span>
                </a>
            </div>

            <ul class="top-nav-drop">
                <li id="li-profile"><a href="{:U('user/personal_data')}"><div class="distract-div"></div>个人资料</a></li>
                <li id="li-medical-record"><a href="{:U('MedicalRecord/questionnaire')}"><div class="distract-div"></div>病历</a></li>
                <li id="li-exit"><a href="{:U('index/index')}"><div class="distract-div"></div>退出</a></li>
            </ul>
        </div>
        <script type="text/javascript" src="__PUBLIC__/js/common.js?201709181328"></script>
        <script type="application/javascript">
            EventUtil.addHandler(window, "load", function () {
                var existLiTag = document.getElementById("li-exit");
                var existLinkTag = existLiTag.getElementsByTagName("a")[0];

                EventUtil.addHandler(existLinkTag, "click", function () {
                    var xhr = createXHR();
                    xhr.open("POST", "{:U('index/index')}", false);
                    xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    xhr.send("exist=");

                    if((xhr.status >= 200 && xhr.status < 300) || xhr.status === 304){
                    }else {
                        alert("No response from AlphaEye Server");
                    }
                })
            })
        </script>
    </empty>

</div><!-- navigator -->

