<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<META HTTP-EQUIV="pragma" CONTENT="no-cache">-->
    <!--<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">-->
    <!--<META HTTP-EQUIV="expires" CONTENT="0">-->

    <link rel="icon" href="__PUBLIC__/assets/icon/alpha-eye.ico">

    <title>病历</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/common.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/header.css?201709190919" rel="stylesheet">
    <link href="__PUBLIC__/css/record.css?201709130257" rel="stylesheet">

</head>
<body>

<div class="container">
    <include file="Public:header" />

    <div class="jumbotron">
        <h4>病历填写成功</h4>
    </div>

</div>

<!--load the js files-->
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

</body>
</html>
